@charset "utf-8";

.filter_select_box {
  display: flex !important;
  justify-content: center !important;
  margin-top: 20px !important;
}

.filter_select .filter_label {
  color: black !important;
  font-weight: 500 !important;
}

.filter_select_box .filter_select {
  width: 80% !important;
}

.filter_field:focus {
    background: transparent !important;
}

@media screen and (max-width: 990px) {
  .filter_select_box {
    margin-top: 30px !important;
  }

  .filter_select_box .filter_select {
    width: 85% !important;
  }
}
