@charset "utf-8";

.filter_select_box {
    display: flex !important;
    justify-content: center !important;
    margin-top: 20px !important;
}

.filter_select_box .filter_select {
    width: 65% !important;
}

.filter_select .filter_label {
    color: black !important;
    font-weight: 500 !important;
}

/* .filter_item {
    text-transform: capitalize !important;
} */