@charset "utf-8";

#newsCardModal * {
    outline: none;
}

#newsCardModal .modal_header_box {
  -webkit-box-shadow: 0px 0px 5px dimgrey !important;
  -moz-box-shadow: 0px 0px 5px dimgrey !important;
  -ms-box-shadow: 0px 0px 5px dimgrey !important;
  box-shadow: 0px 0px 5px dimgrey !important;
}

#newsCardModal .modal_heading {
  display: flex;
  align-items: center;
}

#newsCardModal .modal_heading span {
  font-family: "Acme", sans-serif !important;
  font-size: 27px !important;
  margin-left: 15px !important;
}

#newsCardModal .modal_heading img {
  width: auto;
  height: 40px;
  margin-left: 10px !important;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

@media screen and (max-width: 1199px) {
    #newsCardModal .news_img_col {
        margin-top: 20px;
    }
}

#newsCardModal .news_title {
    padding-top: 10px;
}

#newsCardModal .news_details {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1;
  color: dimgrey !important;
  font-style: italic !important;
}

#newsCardModal .news_details span,
#newsCardModal .news_short span {
    font-weight: 500;
}

#newsCardModal .news_short {
    text-align: justify;
}

#newsCardModal .source_link {
    letter-spacing: 0.6px;
    word-spacing: 1px !important;
}

#newsCardModal .close_btn {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 4px;
    font-size: smaller;
    font-weight: 500;
}