@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Oleo+Script:wght@400;700&display=swap");

/* font-family: 'Lobster Two', cursive;
font-family: 'Oleo Script', cursive; */

.navigation_bar {
  background-color: transparent !important;
  color: black !important;
}

.brand_icon img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.brand_name {
  font-family: "Oleo Script", cursive !important;
  font-size: 27px !important;
  margin-left: 10px !important;
}

.bbc_source {
  margin-left: auto !important;
  margin-right: 10px !important;
  background: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.brand_icon img,
.bbc_source img {
  width: auto;
  height: 40px;
}

.brand_icon:focus,
.bbc_source:focus {
  outline: none;
}

@media screen and (max-width: 575px) {
  .brand_icon img,
  .bbc_source img {
    height: 35px;
  }

  .brand_icon img {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@media screen and (max-width: 400px) {
  .bbc_source {
    margin-right: -12px !important;
  }

  .brand_name {
    margin-left: 4px !important;
  }
}
